permissions:
  contents: read

name: CI Build for MacOS 15 Arm64 (M1 and higher)

on: 
  workflow_dispatch: 
  pull_request:
  workflow_call:
    inputs:
      build-type:
        description: 'Build type (Debug/Release)'
        required: false
        type: string
        default: 'Release'
      release-ver:
        description: 'Release Version (v2.5.0)'
        required: false
        type: string      
        default: 'v2.5.0'

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build_macos-latest:
    runs-on: macos-15
    permissions: write-all

    steps:
    - uses: actions/checkout@v5

    - name: Work around for /usr/local perms and see if we got called by the release action
      run: |
        sudo chown runner:admin /usr/local
        echo "inputs: ${{ inputs.release-ver }}"
        
    - name: Install dependencies (MacOS)
      run: |
        brew update
        brew install autoconf automake libtool pkgconf fdk-aac git lame libass libtool libvorbis \
          libvpx opus sdl shtool texi2html theora wget x264 x265 xvid nasm create-dmg

    - name: Create our own var with the ImageOS value for cache use
      id: which-os
      run: |
        export ImageOS=$(sw_vers -productVersion)
        echo "thisos=$ImageOS" >> $GITHUB_OUTPUT

    - name: Cache Check libusb 1.0.29
      id: cache-usb
      uses: actions/cache/restore@v4
      with:  
        path: /Users/runner/work/JS8Call-improved/JS8Call-improved/local/libusb
        key: ${{ runner.os }}-${{ steps.which-os.outputs.thisos }}-${{ runner.arch }}-libusb1029

    - name: Cache Check ffmpeg 7.1.3
      id: cache-ffmpeg
      uses: actions/cache/restore@v4
      with:
        path: /Users/runner/work/JS8Call-improved/JS8Call-improved/local/ffmpeg
        key: ${{ runner.os }}-${{ steps.which-os.outputs.thisos }}-${{ runner.arch }}-ffmpeg713

    - name: Cache Check Hamlib 4.6.5
      id: cache-hamlib
      uses: actions/cache/restore@v4
      with:
        path: /Users/runner/work/JS8Call-improved/JS8Call-improved/local/hamlib
        key: ${{ runner.os }}-${{ steps.which-os.outputs.thisos }}-${{ runner.arch }}-hamlib465

    - name: Cache Check fftw 3.3.10
      id: cache-fftw
      uses: actions/cache/restore@v4
      with:
        path: /Users/runner/work/JS8Call-improved/JS8Call-improved/local/fftw
        key: ${{ runner.os }}-${{ steps.which-os.outputs.thisos }}-${{ runner.arch }}-fftw3310

    - name: Cache Check Boost 1.88
      id: cache-boost
      uses: actions/cache/restore@v4
      with:
        path: /Users/runner/work/JS8Call-improved/JS8Call-improved/local/boost
        key: ${{ runner.os }}-${{ steps.which-os.outputs.thisos }}-${{ runner.arch }}-boost188

## libusb
    - name: Install libusb 1.0.29
      if: steps.cache-usb.outputs.cache-hit != 'true'
      id: install-usb
      run: |
        curl --location --output /tmp/v1.0.29.tar.gz https://github.com/libusb/libusb/archive/refs/tags/v1.0.29.tar.gz
        cd /tmp
        tar zxf v1.0.29.tar.gz
        cd libusb-1.0.29
        ./bootstrap.sh
        ./configure --prefix=${GITHUB_WORKSPACE}/local/libusb
        make
        make install

    - name: Save libusb cache
      if: steps.cache-usb.outputs.cache-hit != 'true'
      uses: actions/cache/save@v4
      with:
        key: ${{ runner.os }}-${{ steps.which-os.outputs.thisos }}-${{ runner.arch }}-libusb1029
        path: /Users/runner/work/JS8Call-improved/JS8Call-improved/local/libusb

## hamlib
    - name: Install Hamlib 4.6.5
      if: steps.cache-hamlib.outputs.cache-hit != 'true'
      id: install-hamlib
      run: |
        git clone --depth=1 --branch=4.6.5 https://github.com/Hamlib/Hamlib.git /tmp/hamlib
        cd /tmp/hamlib
        ./bootstrap
        ./configure --prefix=${GITHUB_WORKSPACE}/local/hamlib
        make -j 4
        make install-strip

    - name: Save Hamlib cache
      if: steps.cache-hamlib.outputs.cache-hit != 'true'
      uses: actions/cache/save@v4
      with:
        key: ${{ runner.os }}-${{ steps.which-os.outputs.thisos }}-${{ runner.arch }}-hamlib465
        path: /Users/runner/work/JS8Call-improved/JS8Call-improved/local/hamlib

 ## fftw arm64
    - name: Install fftw 3.3.10 (arm64)
      if: (steps.cache-fftw.outputs.cache-hit != 'true' && runner.arch == 'ARM64')
      id: install-fftw-arm64
      run: |
        cd /tmp
        curl --location --output /tmp/fftw-3.3.10.tar.gz https://www.fftw.org/fftw-3.3.10.tar.gz
        tar zxf fftw-3.3.10.tar.gz
        cd fftw-3.3.10
        ./configure --prefix=${GITHUB_WORKSPACE}/local/fftw --enable-threads --enable-shared --enable-neon --enable-float
        make
        make install

    - name: Save fftw 3.3.10 cache
      if: (steps.cache-fftw.outputs.cache-hit != 'true' && runner.arch == 'ARM64')
      uses: actions/cache/save@v4
      with:
        key: ${{ runner.os }}-${{ steps.which-os.outputs.thisos }}-${{ runner.arch }}-fftw3310
        path: /Users/runner/work/JS8Call-improved/JS8Call-improved/local/fftw

## boost
    - name: Install Boost 1.88
      if: steps.cache-boost.outputs.cache-hit != 'true'
      id: install-boost
      run: |
        cd /tmp
        curl --location --output /tmp/boost-1.88.0.tar.gz https://archives.boost.io/release/1.88.0/source/boost_1_88_0.tar.gz
        tar zxf boost-1.88.0.tar.gz
        cd boost_1_88_0
        ./bootstrap.sh --prefix=${GITHUB_WORKSPACE}/local/boost
        ./b2 install

    - name: Save Boost 1.88 cache
      if: steps.cache-boost.outputs.cache-hit != 'true'
      uses: actions/cache/save@v4
      with:
        key: ${{ runner.os }}-${{ steps.which-os.outputs.thisos }}-${{ runner.arch }}-boost188
        path: /Users/runner/work/JS8Call-improved/JS8Call-improved/local/boost
        
## ffmpeg
    - name: Install ffmpeg 7.1.3
      if: steps.cache-ffmpeg.outputs.cache-hit != 'true'
      id: install-ffmpeg
      run: |
        git clone --depth=1 --branch n7.1.3 https://git.ffmpeg.org/ffmpeg.git /tmp/ffmpeg
        mkdir -p /tmp/ffmpeg/build
        cd /tmp/ffmpeg/build
        ../configure --prefix=${GITHUB_WORKSPACE}/local/ffmpeg --enable-shared --enable-static --disable-doc --enable-network
        make install

    - name: Save ffmpeg cache
      if: steps.cache-ffmpeg.outputs.cache-hit != 'true'
      uses: actions/cache/save@v4
      with:
        key: ${{ runner.os }}-${{ steps.which-os.outputs.thisos }}-${{ runner.arch }}-ffmpeg713
        path: /Users/runner/work/JS8Call-improved/JS8Call-improved/local/ffmpeg

# QT 6.9.3 via installer
    - name: Install Qt 6.9.3
      uses: jurplel/install-qt-action@v4
      with:
        cache: true
        aqtversion: '==3.1.*'
        version: '6.9.3'
        host: 'mac'
        target: 'desktop'
        arch: 'clang_64'
        modules: 'qtmultimedia qtserialport'
        archives: 'qtsvg qtdeclarative qtbase'

    - name: Build JS8Call
      run: |
        mkdir -p ./build && cd ./build
        cmake -DCMAKE_PREFIX_PATH="${GITHUB_WORKSPACE}/local/qt693-install;${GITHUB_WORKSPACE}/local/hamlib;${GITHUB_WORKSPACE}/local/fftw;${GITHUB_WORKSPACE}/local/boost;${GITHUB_WORKSPACE}/local/libusb" ..
        make

    - name: Create DMG
      run: create-dmg "JS8Call-improved.dmg" "build/JS8Call.app"
      
    - name: Upload Artifact (Release build)
      if: ${{ inputs.release-ver }}
      uses: actions/upload-artifact@v5
      with:
        name: "JS8call-improved_${{ inputs.release-ver }}_${{ runner.arch }}_macos15.dmg"
        path: /Users/runner/work/JS8Call-improved/JS8Call-improved/JS8Call-improved.dmg

    - name: Upload Artifact (CI build)
      if: ${{ !inputs.release-ver }}
      uses: actions/upload-artifact@v5
      with:
        name: "JS8call-improved_devel_${{ runner.arch }}_macos15.dmg"
        path: /Users/runner/work/JS8Call-improved/JS8Call-improved/JS8Call-improved.dmg
