name: CI Build for Windows 10+ x64

on: 
  workflow_dispatch: 
  pull_request:
  workflow_call:
    inputs:
      build-type:
        description: 'Build type (Debug/Release)'
        required: false
        type: string
        default: 'Release'
      release-ver:
        description: 'Release Version (v2.5.0)'
        required: false
        type: string      
        default: 'v2.5.0'        
env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build_windows-2025:
    runs-on: windows-2025
    permissions: write-all

    steps:
    - run: git config --global core.autocrlf input
    - uses: actions/checkout@v5
    - uses: msys2/setup-msys2@v2
      with:
        update: true
        cache: true
        install: >-
          git python base-devel make unzip zip tar
        pacboy: >-
          toolchain:p
          autotools:p
          cmake:p
          ninja:p
          libusb:p
          wget:p
          boost:p
          fftw:p
          sqlite3:p
          nsis:p
          python:p

    - name: Setup build directory
      shell: msys2 {0}
      run: mkdir -p build

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.9.3'
        target: 'desktop'
        arch: 'win64_mingw'
        modules: 'qtmultimedia qtserialport'
        cache: true
        dir: 'D:/a/JS8Call-improved/JS8Call-improved/local/qt693'

    - name: hamlib/hamlib release
      uses: robinraju/release-downloader@v1.12
      with:
        repository: 'hamlib/hamlib'
        fileName: 'hamlib-w64-4.6.4.zip'
        tag: '4.6.4'
        extract: true
        out-file-path: 'D:/a/JS8Call-improved/JS8Call-improved/local/hamlib464-tmp'

    - name: Move hamlib directory to the right spot
      shell: msys2 {0}
      run: |
        mv 'D:/a/JS8Call-improved/JS8Call-improved/local/hamlib464-tmp/hamlib-w64-4.6.4' 'D:/a/JS8Call-improved/JS8Call-improved/local/hamlib464'
        mv 'D:/a/JS8Call-improved/JS8Call-improved/local/hamlib464/lib/gcc/libhamlib.dll.a' 'D:/a/JS8Call-improved/JS8Call-improved/local/hamlib464/lib/libhamlib.dll.a'

    - name: Configure JS8Call
      shell: msys2 {0}
      run: |
        cd ./build
        cmake -DCMAKE_PREFIX_PATH='D:/a/JS8Call-improved/JS8Call-improved/local/hamlib464;D:/a/JS8Call-improved/JS8Call-improved/local/qt693/Qt/6.9.3/mingw_64' ..

    - name: Build JS8Call
      shell: msys2 {0}
      run: |
        cd ./build
        cmake --build . --config Release

    - name: Move exe into install directory
      shell: msys2 {0}
      run: |
        cp ./build/JS8Call.exe ./build/JS8Call/
        
    - name: Move libraries and License to install directory
      shell: msys2 {0}
      run: |
        cd ./build/
        cp 'D:/a/JS8Call-improved/JS8Call-improved/LICENSE' JS8Call/
        cp /mingw64/bin/libfftw3f-3.dll JS8Call/
        cp 'D:/a/JS8Call-improved/JS8Call-improved/local/hamlib464/bin/libhamlib-4.dll' JS8Call/
        cp 'D:/a/JS8Call-improved/JS8Call-improved/local/hamlib464/bin/libusb-1.0.dll' JS8Call/
        cp 'D:/a/JS8Call-improved/JS8Call-improved/local/hamlib464/bin/libwinpthread-1.dll' JS8Call/

    - name: INNO Setup (Release build)
      if: ${{ inputs.release-ver }}
      run: |
        cd ./build/
        & 'C:/Program Files (x86)/Inno Setup 6/ISCC.exe' /F"JS8Call-improved-installer-${{ inputs.release-ver }}_${{ runner.arch }}" ../.github/workflows/scripts/ci-windows-installer.iss

    - name: INNO Setup (CI build)
      if: ${{ !inputs.release-ver }}
      run: |
        cd ./build/
        & 'C:/Program Files (x86)/Inno Setup 6/ISCC.exe' /F"JS8Call-installer-devel_${{ runner.arch }}" ../.github/workflows/scripts/ci-windows-installer.iss

    - name: Upload Artifact (Release build)
      if: ${{ inputs.release-ver }}
      uses: actions/upload-artifact@v5
      with:
        name: "JS8call-improved_${{ inputs.release-ver }}_${{ runner.arch }}_win64"
        path: |
          ./build/JS8Call/JS8Call-improved-installer*

    - name: Upload Artifact (CI build)
      if: ${{ !inputs.release-ver }}
      uses: actions/upload-artifact@v5
      with:
        name: "JS8call-improved_devel_${{ runner.arch }}_win64"
        path: |
          ./build/JS8Call/JS8Call-improved-installer*
          ./build/JS8Call/
